.App {
  text-align: center;
  padding: 50px;
}
.MuiTable-root {
  margin: 50px auto;
}
.MuiPagination-ul {
  justify-content: center;
}
.loader{
  position: fixed;
  display: flex;align-items: center;justify-content: center;
  left: 0;top: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
}
.products__bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}